<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script rel="text/javascript" src="/javascripts/admin.js"></script>
</head>

<body>
<div class="header">
    <span id="pageTitle"> User List </span>
</div>

<div class="content">
<table class="table" id="userTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">UserType</th>
        <th scope="col">createdAt</th>
      </tr>
    </thead>
</table>
</div>

</body>

</html>