<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script rel="text/javascript" src="/javascripts/byPoints.js"></script>
</head>

<body>
<div class="header">
    <span id="pageTitle"> 승점 순 확인 </span>
</div>

<div class="content">
    <table class="table" id="userTable">
        <thead>
        <tr>
            <th scope="col">#</th>
<!--            <th scope="col">Email</th>-->
            <th scope="col">Name</th>
            <th scope="col">win</th>
            <th scope="col">loss</th>
            <th scope="col">points</th>
        </tr>
        </thead>
    </table>
</div>

</body>

</html>
