<!Doctype HTML>
<head>
    <title></title>
</head>
<body>
<form action="/signIn" method = "get">
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>
<form action="/login" method = "get">
    <button type="submit" class="btn btn-primary">로그인하기</button>
</form>
</body>