<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate System</title>
    <script rel="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javaScript">
        function moveAdmin(){
             location.href = "/admin/";
        }
    </script>
        
</head>

<body>
<div class="content">

    메인 페이지.
    <button type="button" onclick="moveAdmin();" id="btnAdmin">유저 관리하기</button>
    <button type="button" id="btnLogout">Logout</button>

</div>
</body>

</html>